<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <databases>
      <database id="core">
        <NotificationProvider set:type="Sitecore.Support.Data.DataProviders.SqlServer.SqlServerNotificationProvider, Sitecore.Support.429895"/>
      </database>
      <database id="master">
        <NotificationProvider set:type="Sitecore.Support.Data.DataProviders.SqlServer.SqlServerNotificationProvider, Sitecore.Support.429895"/>
      </database>
    </databases>
  </sitecore>
</configuration>